.main {
  margin-top: 10px;
  margin-bottom: 30px;
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0%, to {
        transform: translateZ(0);
    }

    12.5%, 37.5%, 62.5%, 87.5% {
        transform: translate(-10px);
    }

    25%, 50%, 75% {
        transform: translate(10px);
    }
}

@-webkit-keyframes shake {
  0%, to {
        -webkit-transform: translateZ(0);
    }

    12.5%, 37.5%, 62.5%, 87.5% {
        -webkit-transform: translate(-10px);
    }

    25%, 50%, 75% {
        -webkit-transform: translate(10px);
    }
}