.navbar {
  background: #66ffff;
  min-height: 60px;
  line-height: 60px;
  width: 100%;
  color: #000;
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}

a, a:hover {
  color: #000;
  text-decoration: none;
  font-weight: 900;
}

.navbar .col {
  font-size: calc(2vw);
  white-space: nowrap;
  overflow: hidden;
}