.navbar {
  background: #66ffff;
  min-height: 60px;
  line-height: 60px;
  width: 100%;
  color: #000;
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}

a, a:hover {
  color: #000;
  text-decoration: none;
  font-weight: 900;
}

.navbar .col {
  font-size: calc(6px + 1vw);
  white-space: nowrap;
  overflow: hidden;
}

.brand{
  font-size: 24px;
}

header {
  min-height: 260px;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 100px;
  color: #fff;
  background-image: url('footer_lodyas.png');
}

.img-thumbnail {
  margin: 8px 25px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  border-radius: 3px;
  border: 5px solid #f1f1f1;
  width: 200px;
  height: 200px;
  cursor: pointer;
  float: left;
}

.correct{
  animation: correct 1.5s;
}
.incorrect{
  animation: incorrect 1.5s;
}

@keyframes correct{
  0%{color: #000} /* black */
  20%{color: #fff} /* white */
  40%{color: #00cc00} /* green */
  60%{color: #006600}
  100%{color: #000}
}

@keyframes incorrect{
  0%{color: #000} /* black */
  20%{color: #fff} /* white */
  40%{color: #ff3333} /* red */
  60%{color: #ff0000}
  100%{color: #000}
}